<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<configSections>
		<sectionGroup name="userSettings"
                type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="CivModTool.Properties.Settings"
            type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
            allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<userSettings>
		<CivModTool.Properties.Settings>
   <setting name="civ_name" serializeAs="String">
    <value>MANNCO</value>
   </setting>
   <setting name="leader_name" serializeAs="String">
    <value>SAXTON</value>
   </setting>
   <setting name="civ_adjective" serializeAs="String">
    <value />
   </setting>
   <setting name="civ_art_style" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="civ_free_building" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="civ_free_unit" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="civ_free_tech" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="civ_religion" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="civ_soundtrack" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="color_primary" serializeAs="String">
    <value />
   </setting>
   <setting name="color_secondary" serializeAs="String">
    <value />
   </setting>
   <setting name="color_text" serializeAs="String">
    <value />
   </setting>
   <setting name="civ_description" serializeAs="String">
    <value />
   </setting>
   <setting name="civ_civilopedia" serializeAs="String">
    <value />
   </setting>
   <setting name="leader_civilopedia" serializeAs="String">
    <value />
   </setting>
   <setting name="leader_description" serializeAs="String">
    <value />
   </setting>
   <setting name="leader_dom_quote" serializeAs="String">
    <value />
   </setting>
   <setting name="leader_victory" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="leader_wonder" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="leader_minor" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="leader_hate" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="leader_work_vs" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="leader_work_with" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="leader_denounce" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="leader_diplomacy" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="leader_boldness" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="leader_loyalty" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="leader_neediness" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="leader_forgiveness" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="leader_chattiness" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="leader_meanness" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="leader_civ_war" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="leader_civ_hostile" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="leader_civ_deceptive" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="leader_civ_guarded" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="leader_civ_afraid" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="leader_civ_friendly" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="leader_civ_neutral" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="leader_city_ignore" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="leader_city_friendly" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="leader_city_protect" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="leader_city_conquest" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="leader_city_bully" serializeAs="String">
    <value>0</value>
   </setting>
  </CivModTool.Properties.Settings>
	</userSettings>
</configuration>